{
  "env": {
    "browser": true,
    "jest": true
  },
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": ["react-hooks"],
  "rules": {
    "react/require-default-props": "off",
    "react/prop-types": "off",
    "prettier/prettier": "off",
    "max-len": ["error", 120],
    "linebreak-style": "off",
    "import/no-extraneous-dependencies": "off",
    "import/prefer-default-export": "off",
    "react/jsx-filename-extension": ["error", { "extensions": [".tsx"] }],
    "import/extensions": ["off"]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}